@import '../../styles/main.scss';

.article {
  position: relative;
  padding-top: 150px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: $ff-montserrat;

  &__img {
    position: absolute;
    top: 0;
    max-height: 245px;
    object-fit: cover;
    object-position: 0 50%;
  }

  &__wrapper {
    position: relative;
    padding: 35px 75px 50px;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow:  0px 8px 24px rgba(0, 0, 0, 0.05);
  }

  &__title {
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 400;
    color:  #363636;
    text-align: center;
  }

  &__description {
    font-size: 1.12rem;
    color: #000;
    line-height: 27px;
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 75px;
    margin-bottom: 45px;
    font-weight: 700;
    color: #363636;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1px;
      background-color: #363636;
    }

    &:hover:before {
      width: 100%;
    }

    &::before {
      transition: width 0.35s;
    }
  }

  &__link-icon {
    height: 10px;
    width: 12px;
    padding-left: 18px;
    background: url(../../../public/images/Arrow_Left.png) no-repeat;
  }
}